.form-elem-container {
    position: relative;
}

input.form-control,
.input.form-control {
    $height: 45px;

    line-height: $height;
    height: $height;

    & + .icon {
        position: absolute;
        width: $height * 0.33;
        height: $height * 0.33;
        top: $height * 0.3;
        left: 1.2rem;

        opacity: .5;
        fill: $secondary;
        stroke: transparent;
    }
}

textarea.form-control,
.textarea.form-control {
    height: 90px;
}

input.form-control,
.input.form-control,
textarea.form-control,
.textarea.form-control {

    &::placeholder {
        color: $secondary;
        opacity: .5;
    }
}

