.nav {
    
    font-size: 12px;
    font-weight: 500;
    
    &-link {
        @include transition(color); 
    }

    &.text-secondary &-item:hover > &-link {
        color: $primary;
    }
    &.text-white &-item:hover > &-link {
        color: $gray;
    }
}

