@import "components/product-teaser";

.relevant {

    padding: 60px 0;
    background-color: $white;

    &__title {
        margin-bottom: 60px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 54px;
        font-weight: bold;
        text-align: center;
    }
}