footer

    .py-3
        include ./nav.pug

    .container.py-4.border-top.border-gray-light
        .row.justify-content-between.flex-nowrap

            .col-auto.pl-0
                a(href="/", aria-label="На главную")
                    img(data-src=require('~/images/logo.png'), alt="logo")

            .col-auto
                include ../components/contacts.pug

            .col-auto
                a.link-social(href="https://vk.com" aria-label="vkontakte")
                    +icon('vk')
                a.link-social(href="https://facebook.com" aria-label="facebook")
                    +icon('fb')
                a.link-social(href="https://instagram.com" aria-label="instagram")
                    +icon('instagram')


            .col-auto
                button.button-callme.btn.btn-danger
                    +icon('phone')
                    span Перезвоните мне
    

        