.FRONT_NAVIGATION(style="text-align: center; padding-top: 20px")
    style.
        .FRONT_NAVIGATION {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .FRONT_NAVIGATION a {
            padding: 1rem;
        }

    a(href="/") main
    a(href="product-card.html") product-card
