.FRONT_NAVIGATION(style="text-align: center")
    style.
        .FRONT_NAVIGATION {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .FRONT_NAVIGATION a {
            padding: 1rem 1rem .5rem;
        }

    a(href="/") main
    a(href="product.html") product
