header
    .container
        .row.py-3.justify-content-between.flex-nowrap

            .col-auto
                a(href="/", aria-label="На главную")
                    img(data-src=require('~/images/logo.png'), alt="logo")

            .col-auto
                include ../components/contacts.pug

            .col-auto
                include ../components/cart-sum.pug


            .col-auto
                button.button-callme.btn.btn-danger.js-call-me-btn
                    +icon('phone')
                    span Перезвоните мне

        hr.w-100.my-0
        
    
    include ./nav.pug

            
    
