nav.container
    .row.nav.justify-content-between
        .nav-item
            a.nav-link(href="#") Главная

        .nav-item
            a.nav-link(href="#") Каталог

        .nav-item
            a.nav-link(href="#") Доставка и оплата

        .nav-item.dropdown
            a.nav-link.dropdown__trigger(href="#") Полезная информация
            .dropdown__content
                .nav-item
                    a.nav-link(href="#") Акции
                .nav-item
                    a.nav-link(href="#") Новости
                .nav-item
                    a.nav-link(href="#") Статьи

        .nav-item
            a.nav-link(href="#") О компании

        .nav-item
            a.nav-link(href="#") Контакты
