section.consult(data-bg=`url(${require('~/images/consult-banner.jpg')})`)
    .container.text-white
        .row
            .col-6.offset-6
                .consult__heading.mb-4
                    h1.h2
                        b персональные регистраторы
                    div (нагрудные камеры) от 3990 
                        span.text-lowercase руб.
                        
                .consult__features.mb-4
                    .consult__features-item
                        +icon('check')
                        span В наличии в Петропавловск-Камчатском
                    .consult__features-item
                        +icon('check')
                        span Получение в день оформления заказа

                #consult-request

                    