section.relevant
    .container
        h2.relevant__title Похожие товары

        .row
            .col-3
                include ../components/product-teaser.pug
            .col-3
                include ../components/product-teaser.pug
            .col-3
                include ../components/product-teaser.pug
            .col-3
                include ../components/product-teaser.pug