nav.breadcrumbs.container
    .breadcrumbs__item
        a.breadcrumbs__link.home(href="/" aria-label="home")
            +icon('home')
    .breadcrumbs__item 
        a.breadcrumbs__link(href="#") Название товара “Самая лучшая камера”
