.contacts.text-dark
    .contacts__item
        .contacts__item-description
            +icon('map-pin')
            span Выберите город: 
            |
            b.contacts__city-picker.js-city-picker-btn Петропавловск-Камчатский
        .contacts__item-content ул. Ленинградская, 100
    .contacts__item
        .contacts__item-description
            +icon('phone')
            span Для всех регионов:
        .contacts__item-content.text-nowrap 8&nbsp;(800)&nbsp;551-23-30
    .contacts__item
        .contacts__item-description
            +icon('phone')
            span Для Петропавловск-Камчатского:
        .contacts__item-content.text-nowrap 8&nbsp;(800)&nbsp;551-23-30
