.product-reviews
    .product-reviews__post.row
        .col-1
            .product-reviews__avatar(data-bg=`url('https://st.kp.yandex.net/images/actor_iphone/iphone360_5679.jpg')`)
        .col-11
            .product-reviews__timestamp 01.12.2019, 04:50
            .product-reviews__author Харрисон Форд
            .product-reviews__message Можно ли установить глушилку сотовой связи в автомобиль?
   
    .product-reviews__post.row
        .col-1
            .product-reviews__avatar(data-bg=`url(${require('~/images/no-avatar.png')})`)
        .col-11
            .product-reviews__timestamp 01.12.2019, 04:50
            .product-reviews__author Инна Иванова
            .product-reviews__message Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit tincidunt odio et sapien, sem. Volutpat elementum pharetra aenean porta sit. Sagittis, est, ultrices placerat tristique velit semper aliquet dictum. 

#post-review