.city-list__item[data-v-2f46e8e0]{line-height:150%;cursor:pointer}.city-list__item.active[data-v-2f46e8e0]{font-weight:bold}.city-list__item[data-v-2f46e8e0]:hover{text-shadow:0 0 0 black}.city-list__separator[data-v-2f46e8e0]{width:100%;margin:0 1rem 1rem;padding:1rem 2rem 0;font-weight:bold;font-size:2rem}

