extends ../layout/layout.pug

block content
    main.main

        //- include ../sections/main-top-section.pug

        //- include ../sections/main-cases.pug

        //- include ../sections/map.pug
        
