extends ../layout/layout.pug

block content
    main.product.bg-light
        include ../components/breadcrumbs.pug

        section.product__main
            .container
                .row
                    .col-6.pr-5
                        include ../components/product-slider.pug

                    .col-6
                        include ../components/product-buy-block.pug

        include ../sections/product-tabs.pug

        include ../sections/relevant.pug

        
